{% extends '../base.html' %}
{% block body %}

<div class="nui-toolbar" style="padding:2px;border-top:0;border-left:0;border-right: 0;">
    <table style="width: 100%">
        <tr>
            <td style="width:100%;">
                {#<a class="nui-button" iconCls="icon-add" plain="true" onclick="add_row()">新增</a>
                <a class="nui-button" iconCls="icon-remove" plain="true" onclick="remove_row()">删除</a>
                <a class="nui-button" iconCls="icon-save" plain="true" onclick="save_csrc_data()">保存</a>
                <a class="nui-button" iconCls="icon-add" plain="true" onclick="import_from_server">从服务器导入</a>#}
            <input id="company_combobox" class="mini-combobox" style="width:150px;" nullItemText="选择公司筛选" textField="securities_name" valueField="securities_code"
    url='{{ reverse_url("s.csrcindustry") }}?q={"download_flag":1}&p={"_id":0,"securities_name":1,"securities_code":1}'  showNullItem="true" allowInput="true"/>
            </td>
            <td style="white-space:nowrap;">
                <input id="key" class="nui-textbox" emptyText="请输入公司代码" style="width:150px;"
                       onenter="onKeyEnter"/>
                <a class="nui-button" onclick="search()">查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="nui-fit">

    <div id="csrc_grid" class="nui-datagrid" borderStyle="border:0"
         allowCellSelect="true"
         allowCellEdit="true"
         allowCellValid="true"
         showColumnsMenu="true"
         idField="id"
         multiSelect="true"
         url="{{ reverse_url("s.cashflow") }}"
         idField="id"
         pageSize="20"
         pageSize="200"
         editNextOnEnterKey="true"
         ajaxOptions='{type:"get"}'
         oncellbeginedit="OnCellBeginEdit"
         oncellendedit="onCellEndEdit"
         style="width:100%;height:100%;">
        <div property="columns">
            <div type="checkcolumn"></div>
            <div field="报表日期" vtype="minLength:6" width="80" headerAlign="center" allowSort="true">报表日期
            </div>
            <div field="code" align="center" width="70" headerAlign="center" allowSort="true">证券代码
            </div>
            <div field="单位" required="true"  width="100" allowSort="true" align="left"
                 headerAlign="center">单位
            </div>
            <div field="客户贷款及垫款净减少额" readOnly="true" width="100" allowSort="true">客户贷款及垫款净减少额
            </div>
            <div field="向央行借款净增加额" readOnly="true" width="100" allowSort="true">向央行借款净增加额
            </div>
            <div field="客户存款和同业存放款项净增加额" numberFormat="c" align="center" readOnly="true" width="100" allowSort="true">客户存款和同业存放款项净增加额
            </div>
            <div field="收取利息、手续费及佣金的现金" readOnly="true" width="100" allowSort="true">收取利息、手续费及佣金的现金
            </div>
            <div field="其中:收到利息" align="center" readOnly="true" width="100" allowSort="true">其中:收到利息
            </div>
            <div field="收到的手续费" readOnly="true" width="100" allowSort="true">收到的手续费
            </div>
            <div field="金融企业往来收入收到的现金" readOnly="true" width="100" allowSort="true">金融企业往来收入收到的现金
            </div>
            <div field="中间业务收入收到的现金" readOnly="true" width="100" allowSort="true">中间业务收入收到的现金
            </div>
            <div field="汇兑净收益收到的现金" readOnly="true" width="100" allowSort="true">汇兑净收益收到的现金
            </div>
            <div field="其他营业及营业外净收入收到的现金" readOnly="true" width="100" allowSort="true">其他营业及营业外净收入收到的现金
            </div>
            <div field="存入保证金收到的现金" readOnly="true" width="100" allowSort="true">存入保证金收到的现金
            </div>
            <div field="收到的委托资金" readOnly="true" width="100" allowSort="true">收到的委托资金
            </div>
            <div field="贵金属现金流入" readOnly="true" width="100" allowSort="true">贵金属现金流入
            </div>
            <div field="贴现收到的现金" readOnly="true" width="100" allowSort="true">贴现收到的现金
            </div>
            <div field="销售商品、提供劳务收到的现金" readOnly="true" width="100" allowSort="true">销售商品、提供劳务收到的现金
            </div>
            <div field="收到的税费返还" readOnly="true" width="100" allowSort="true">收到的税费返还
            </div>
            <div field="其他负债增加流入的现金" readOnly="true" width="100" allowSort="true">其他负债增加流入的现金
            </div>
            <div field="收回的已于以前年度核销的贷款及应收款项" readOnly="true" width="100" allowSort="true">收回的已于以前年度核销的贷款及应收款项
            </div>
            <div field="其他应付暂收款减少流出的现金" readOnly="true" width="100" allowSort="true">其他应付暂收款减少流出的现金
            </div>
            <div field="处置抵债资产收到的现金" readOnly="true" width="100" allowSort="true">处置抵债资产收到的现金
            </div>
            <div field="收到其他与经营活动有关的现金" readOnly="true" width="100" allowSort="true">收到其他与经营活动有关的现金
            </div>
            <div field="经营活动现金流入小计" readOnly="true" width="100" allowSort="true">经营活动现金流入小计
            </div>
            <div field="客户贷款及垫款净增加额" readOnly="true" width="100" allowSort="true">客户贷款及垫款净增加额
            </div>
            <div field="存放中央银行和同业款项净增加额" readOnly="true" width="100" allowSort="true">存放中央银行和同业款项净增加额
            </div>
            <div field="其中:存放中央银行" readOnly="true" width="100" allowSort="true">其中:存放中央银行
            </div>
            <div field="存放同业及其他机构存款" readOnly="true" width="100" allowSort="true">存放同业及其他机构存款
            </div>
            <div field="拆出资金净现金流出" readOnly="true" width="100" allowSort="true">拆出资金净现金流出
            </div>
            <div field="偿还中央银行借款(向中央银行借款净减少额)" readOnly="true" width="100" allowSort="true">偿还中央银行借款(向中央银行借款净减少额)
            </div>
            <div field="支付的存款" readOnly="true" width="100" allowSort="true">支付的存款
            </div>
            <div field="减少同业及其他金融机构存放净额" readOnly="true" width="100" allowSort="true">减少同业及其他金融机构存放净额
            </div>
            <div field="偿还同业及其他金融机构拆入净额" readOnly="true" width="100" allowSort="true">偿还同业及其他金融机构拆入净额
            </div>
            <div field="偿还卖出回购款项净额" readOnly="true" width="100" allowSort="true">偿还卖出回购款项净额
            </div>
            <div field="证券投资支出的现金" readOnly="true" width="100" allowSort="true">证券投资支出的现金
            </div>
            <div field="支付买入返售款项净额" readOnly="true" width="100" allowSort="true">支付买入返售款项净额
            </div>
            <div field="处置可供出售金融资产净减少额" readOnly="true" width="100" allowSort="true">处置可供出售金融资产净减少额
            </div>
            <div field="支付利息、手续费及佣金的现金" readOnly="true" width="100" allowSort="true">支付利息、手续费及佣金的现金
            </div>
            <div field="其中:支付的利息" readOnly="true" width="100" allowSort="true">其中:支付的利息
            </div>
            <div field="手续费支出支付的现金" readOnly="true" width="100" allowSort="true">手续费支出支付的现金
            </div>
            <div field="支付给职工以及为职工支付的现金" readOnly="true" width="100" allowSort="true">支付给职工以及为职工支付的现金
            </div>
            <div field="支付的各项税费" readOnly="true" width="100" allowSort="true">支付的各项税费
            </div>


        </div>

    </div>
</div>
{% end %}
{% block script %}
<script type="text/javascript">
    var grid = nui.get('csrc_grid');
    grid.load();
    var company_combobox=nui.get('company_combobox');
    company_combobox.on('itemclick',function(e){
        var code=e.item.securities_code;
        grid.load({'code':code});
    });
    $(document).ready(function () {

    });


    function add_row() {
        var newRow = {};
        grid.addRow(newRow, 0);
    }
    function remove_row() {
        var rows = grid.getSelecteds();
        if (rows.length > 0) {
            grid.removeRows(rows, true);
        }
    }


</script>
{% end %}