<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ServerListCtrl">
    <div class="col w-md bg-light dk b-r bg-auto">
        <div class="wrapper b-b bg">

            <button class="btn btn-sm btn-default pull-right visible-sm visible-xs" ui-toggle-class="show"
                    target="#email-menu"><i class="fa fa-bars"></i></button>
            <a ui-sref="app.server.compose" class="btn btn-sm btn-danger w-xs font-bold">新建</a>

        </div>
        <div class="wrapper hidden-sm hidden-xs" id="email-menu">
            <ul class="nav nav-pills nav-stacked nav-sm">

                <a ng-repeat="server in servers| filter:s | orderBy:'create_time':true"
                   ng-click="on_server_selected(server)"
                   class="list-group-item b-l-3x hover-anchor">
                                    <span ng-click='delete_server(server)'
                                          class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                    <span class="block text-ellipsis">{{ server.name }}</span>
                    <small class="text-muted">{{ server.ipaddr }}-&nbsp;&nbsp;&nbsp;{{ server.create_time | fromNow }}
                    </small>
                </a>
                <a ui-sref="app.server.list()">
                    {{server.name}}
                </a>


            </ul>

        </div>
    </div>
    <div class="col">
        <div ui-view></div>
    </div>
</div>