{% extends "base.html" %}
{% block style %}
<link href="{{ static_url('nui/resource/plupload/jquery.ui.plupload/css/jquery-ui.min.css') }}" rel="stylesheet">
<link href="{{ static_url('nui/resource/plupload/jquery.ui.plupload/css/jquery.ui.plupload.css') }}" rel="stylesheet">

{% end %}

{% block body %}

{# todo  #}
<div style="width: 100%;height: 100%;padding: 0px;" class="nui-splitter">
    <div size="250px;" showCollapseButton="true" style="padding: 0px">
        <div id="toolbar1" class="nui-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                        <a class="nui-menubutton" iconCls="icon-edit" plain="true" menu="#contextMenu">操作</a>
                        <a class="nui-button" onclick="saveData()" iconCls="icon-save" plain="true">保存</a>
                        <a class="nui-button" onclick="reloadData()" iconCls="icon-reload" plain="true">刷新</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="nui-fit">
            <ul id="tree1" onnodedblclick="onNodeDoubleClick()" ajaxOptions='{type:"get"}'
                class="nui-tree"
                style="width:100%;height:100%;padding:5px;"
                showTreeIcon="true" textField="name" expandOnLoad="0" allowDrag="true" allowDrop="true"
                allowLeafDropIn="true"
                idField="id" parentField="pid" resultAsTree="false">
            </ul>

            <ul id="contextMenu" class="nui-contextmenu">
                <li>
                    <span>插入</span>
                    <ul>
                        <li iconCls="icon-add" onclick="onAddBefore()">插入节点(前)</li>
                        <li class="separator"></li>
                        <li iconCls="icon-add" onclick="onAddAfter()">插入节点(后)</li>
                        <li class="separator"></li>
                        <li iconCls="icon-add" onclick="onAddNode()">插入节点(子节点)</li>
                        <li class="separator"></li>
                        <li iconCls="icon-add" onclick="onAddRootNode()">添加根节点</li>
                    </ul>
                </li>
                <li iconCls="icon-remove" onclick="onRemoveNode()">删除节点</li>
                <li iconCls="icon-edit" onclick="onEditNode()">编辑</li>
                <li class="separator"></li>
                <li iconCls="icon-save" onclick="saveData()">保存</li>
            </ul>
        </div>

    </div>
    <div showCollapseButton="false">

        <div class="mini-panel" title="展开上传文件" style="width:100%;"
             showCollapseButton="true" bodyStyle="padding:0;"
             expanded="false">
            <div id="uploader">
                                <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
             </div>

        </div>
        <div class="nui-toolbar">
            <table style="width:100%;">
                {#<tr>
                    <td>
                        <div>
                            <div id="uploader">
                                <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                            </div>
                        </div>
                    </td>

                </tr>#}
                <tr>
                    <td style="width:100%;">
                        {#<a class="nui-button" iconCls="icon-remove" plain="true" onclick="removeRow()">删除</a>
                            <a class="nui-button" iconCls="icon-save" plain="true" onclick="saveData()">保存</a> #}
                    </td>
                    <td style="white-space:nowrap;">
                        <input id="key" class="nui-textbox" emptyText="请输入文件名和描述" style="width:150px;"
                               onenter="onKeyEnter"/>
                        <a class="nui-button" onclick="search()">查询</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="nui-fit">
            <div id="file_grid" ajaxtype="get" class="nui-datagrid" borderStyle="border:0"
                 style="width: 100%;height: 100%">
                <div property="columns">
                    <div type="checkcolumn">#</div>
                    <div field="filename">文件名</div>
                    <div field="uploadDate" dateFormat="yyyy-MM-dd HH:mm:ss">上传时间</div>
                    <div field="file_size">文件大小</div>
                    <div field="desc">文件描述</div>
                    <div name="action" headerAlign="center">操作</div>

                </div>

            </div>

        </div>


    </div>

</div>
{#<script src="{{ static_url('nui/resource/swfupload/swfupload.js') }}"></script>#}
<!--
<script src="{{ static_url('nui/resource/uploadify/jquery.uploadify.min.js') }}"></script>
<script src="{{ static_url('nui/resource/swfupload/swfupload.js') }}"></script>
-->

{% end %}

{% block script %}
<script type="text/javascript" src="{{ static_url('nui/jquery/jquery-1.9.js') }}"></script>
<script type="text/javascript" src="{{ static_url('nui/jquery/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('nui/resource/plupload/plupload.full.min.js') }}"></script>
<script type="text/javascript"
        src="{{ static_url('nui/resource/plupload/jquery.ui.plupload/jquery.ui.plupload.js') }}"></script>
<script type="text/javascript" src="{{ static_url('nui/resource/plupload/i18n/zh_CN.js') }}"></script>

<script type="text/javascript">


    var tree = nui.get('tree1');
    var upload_file_url_base = "{{ reverse_url('s.files') }}" + "?_xsrf=" + nui.Cookie.get('_xsrf') + "&catalog_id=";
    var upload_file_url;
    var current_selected_catalog;

    var root_node = tree.getRootNode();
    var file_grid = nui.get('file_grid');
    file_grid.setUrl('{{ reverse_url("s.catalog.files") }}');
    if (root_node) {
        // 默认加载所有文件
        file_grid.load({'create_user': nui.Cookie.get('userid')});
        current_selected_catalog = root_node;
        upload_file_url = upload_file_url_base + current_selected_catalog.id;
    }
    $(function () {
        var uploader = $("#uploader").plupload({
            // General settings
            runtimes: 'html5,flash,silverlight,html4',
            url: "{{ reverse_url('s.files') }}",

            // User can upload no more then 20 files in one go (sets multiple_queues to false)
            max_file_count: 20,
            browse_button: 'uploader_browse',
            chunk_size: '1mb',

            // Resize images on clientside if we can
            resize: {
                width: 200,
                height: 200,
                quality: 90,
                crop: true // crop to exact dimensions
            },

            filters: {
                // Maximum file size
                max_file_size: '1000mb',
                // Specify what files to browse for
                mime_types: [
                    {title: "Image files", extensions: "jpg,gif,png"},
                    {title: "Zip files", extensions: "zip"},
                    {title: "程序文件", extensions: "cs,css,js,py,txt,java"},
                    {title: "常用文件", extensions: "doc,docx,pdf,xls,xlsx,ppt,pptx"}
                ]
            },

            // Rename files by clicking on their titles
            rename: true,

            // Sort files
            sortable: true,

            // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
            dragdrop: true,

            // Views to activate
            views: {
                list: true,
                thumbs: true, // Show thumbs
                active: 'list'
            },

            // Flash settings
            flash_swf_url: '{{ static_url("nui/resource/plupload/Moxie.swf") }}',

            // Silverlight settings
            silverlight_xap_url: '{{ static_url("nui/resource/plupload/Moxie.xap") }}',
            init: {
                Error: function (up, err) {
                    nui.alert(err.message);
                },
                BeforeUpload: function (up, file) {
                    var catalog_node = tree.getSelectedNode();
                    if (catalog_node == undefined) {
                        nui.alert("请选择目录");
                        return false;
                    }
                    up.settings.url = upload_file_url_base + catalog_node.id;
                },
                FileUploaded: function (up, file, response) {
                    //var res = $.parseJSON(response.response);
                    //$("input." + file.id).val(res.result);
                    file_grid.reload();
                    up.refresh();
                },
            }
        });

        {#$('#form').submit(function(e) {
		// Files in queue upload them first
		if ($('#uploader').plupload('getFiles').length > 0) {

			// When all files are uploaded submit form
			$('#uploader').on('complete', function() {
				$('#form')[0].submit();
			});

			$('#uploader').plupload('start');
		} else {
			alert("You must have at least one file in the queue.");
		}
		return false; // Keep the form from submitting
	});#}


    });
    window.onload = function () {

        tree.setUrl("{{ reverse_url('s.file.catalogs') }}");
        tree.load({'create_user': nui.Cookie.get('userid')});
        $("#tree1").bind("contextmenu", function (e) {
            var menu = nui.get("contextMenu");
            menu.showAtPos(e.pageX, e.pageY);
            return false;
        });
        tree.on('nodeselect', function (e) {
            current_selected_catalog = e.node;
            if (e.node.id) {
                var child_nodes = tree.getAllChildNodes(e.node);
                var catalog_id_list = [e.node.id];
                for (var i = 0; i < child_nodes.length; i++) {
                    catalog_id_list.push(child_nodes[i].id);
                }
                var q = {
                    catalog_id: {$in: catalog_id_list}
                };

                file_grid.load({'q': nui.encode(q), 'create_user': nui.Cookie.get('userid')});
            }
            upload_file_url = upload_file_url_base + current_selected_catalog.id;
            //upload_file_url=current_selected_catalog.id;

        });
        //var tree = nui.get('tree1');
        //var db = new nui.DataBinding();
        //db.bindForm("menu_form", tree);


    };
    file_grid.on("drawcell", function (e) {
        var record = e.record,
                column = e.column,
                field = e.field,
                value = e.value;
        if (column.name == 'action') {
            e.cellStyle = "text-align:center";
            e.cellHtml = '<a href="javascript:download_file(\'' + record.id + '\')">下载</a>&nbsp;&nbsp;&nbsp;' + '<a href="javascript:remove_file(\'' + record.id + '\')">删除</a>';
        }
    });
    function onKeyEnter(e) {
        search();
    }
    function search() {
        var key = nui.get('key').getValue();
        //q='{"$or":[{"loginname":{"$regex":"{0}"}},{"name":{"$regex":"{0}"}},{"email":{"$regex":"{0}"}}]}';
        //q=String.format(q,key);
        // monogodb的查询表达式
        q = {
            $or: [{
                filename: {
                    $regex: key
                }
            }, {
                desc: {
                    $regex: key
                }
            }],
            create_user: nui.Cookie.get('userid')
        };
        file_grid.load({q: nui.encode(q)});
    }
    function removeRow() {
        var selected_row = file_grid.getSelected();
        $.ajax(
                {
                    url: "{{ reverse_url('s.files.item','') }}" + selected_row.id,
                    type: 'delete',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-Xsrftoken', nui.Cookie.get('_xsrf'));
                    },
                    success: function (result) {
                        file_grid.reload();
                    }

                }
        );
    }
    function remove_file(file_id) {
        $.ajax(
                {
                    url: "{{ reverse_url('s.files.item','') }}" + file_id,
                    type: 'delete',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-Xsrftoken', nui.Cookie.get('_xsrf'));
                    },
                    success: function (result) {
                        file_grid.reload();
                    }

                }
        );
    }
    function download_file(file_id) {
        window.open('{{ reverse_url("s.files.item",'') }}' + file_id);
    }
    function onNodeDoubleClick(e) {
        onEditNode(e);
    }
    function onAddRootNode(e) {
        var newNode = {name: "root"};
        tree.addNode(newNode)
    }
    function onAddBefore(e) {
        var node = tree.getSelectedNode();
        var newNode = {};
        tree.addNode(newNode, "before", node);
    }

    function onAddAfter(e) {
        var node = tree.getSelectedNode();

        var newNode = {};
        tree.addNode(newNode, "after", node);
    }

    function onAddNode(e) {
        var node = tree.getSelectedNode();

        var newNode = {name: 'node'};
        tree.addNode(newNode, "add", node);
    }

    function onEditNode(e) {
        var node = tree.getSelectedNode();

        tree.beginEdit(node);
    }

    function onEditNode2(e) {
        var node = tree.getSelectedNode();

        nui.open({
            url: "taskPanel/taskPanel.html",
            title: "任务面板", width: 500, height: 300,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.SetData(node);
            }
        })
    }

    function upDateNode(options) {
        var node = tree.getSelectedNode();
        options = nui.clone(options);
        tree.updateNode(node, options)
    }

    function onRemoveNode(e) {

        var node = tree.getSelectedNode();

        if (node) {
            if (confirm("确定删除选中节点?")) {
                tree.removeNode(node);
            }
        }
    }

    function saveData() {

        var data = tree.getData();
        var removed = tree.getChanges("removed");
        var paramsObj = {
            data: nui.encode(data),
            removed: nui.encode(removed),
            '_xsrf': nui.Cookie.get('_xsrf')
        };

        var msgid = nui.loading("数据保存中，请稍后......", "保存数据");


        $.ajax({
            url: "{{ reverse_url('s.file.catalogs') }}",
            data: paramsObj,
            type: "post",
            success: function (text) {
                nui.hideMessageBox(msgid);

                tree.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });

    }
    function reloadData() {
        tree.reload();
    }

    function onFileSelect(e) {
        //alert("选择文件");
    }
    function onUploadSuccess(e) {

        nui.alert("上传成功：" + e.serverData);
        this.setText("");
        nui.get('desc').setValue('');
        var select_catalog = tree.getSelectedNode();
        file_grid.reload();
    }
    function onUploadError(e) {
        this.setText("");
        nui.get('desc').setValue('');
        nui.alert("文件上传失败，稍后重试");

    }

    function startUpload() {
        var fileupload = mini.get("fileupload1");
        var select_catalog = tree.getSelectedNode();
        if (!select_catalog || select_catalog.id == undefined) {
            nui.alert('请选择文件目录');
            return
        }
        fileupload.setPostParam({
            '_xsrf': nui.Cookie.get('_xsrf'),
            'catalog_id': select_catalog.id,
            'msid': nui.Cookie.get('msid'),
            'desc': nui.get('desc').getValue()
        });
        fileupload.startUpload();
    }
</script>


{% end %}