<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ site_name }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body style="display: none;">

<!--Layout-->
<div id="layout1" class="nui-layout" style="width:100%;height:100%;">
    <div class="app-header" region="north" height="70" showSplit="false" showHeader="false">
        <div>
            <h1 style="margin:0;padding:15px;cursor:default;font-family:微软雅黑,黑体,宋体;">{{ site_name }}
            </h1>
        </div>

        <div style="position:absolute;top:18px;right:10px;">
            <a class="nui-button nui-button-iconTop" iconCls="icon-add" onclick="onQuickClick" plain="true">快捷</a>
            <a class="nui-button nui-button-iconTop" iconCls="icon-edit" onclick="goToHome()" plain="true">首页</a>
            <a class="nui-button nui-button-iconTop" iconCls="icon-date" onclick="onClick" plain="true">消息</a>

            <a class="nui-button nui-button-iconTop" iconCls="icon-edit" onclick="onProfileClick" plain="true">设置</a>
            <a class="nui-button nui-button-iconTop" iconCls="icon-unlock" onclick="onLogoutClick()" plain="true">注销</a>
            <a class=" nui-menubutton nui-button-iconTop" menu="#popupMenu" style="height: 30px;" plain="true">操作</a>

        </div>
        <ul id="popupMenu" class="nui-menu" style="display:none;">
            <li iconCls="icon-filter">
                <span>角色切换</span>
                <ul>
                    {% for item in roles %}

                    <li {% if current_role==item['code'] %}iconCls="icon-ok" {% end %} value="{{ item['code'] }}"
                        onclick="on_change_role">{{ item['name'] }}</li>
                    <li class="separator"></li>
                    {% end %}

                </ul>
            </li>
            <li class="separator"></li>
            <li iconCls="icon-collapse">
                <span>皮肤切换</span>
                <ul>
                    {% for item in skins %}

                    <li {% if current_skin==item %} iconCls='icon-ok' {% end %}
                                                    onclick="onSkinChange(this)">{{ item }}</li>
                    {% end %}
                </ul>
            </li>
            <li iconCls="icon-unlock" iconCls="icon-unlock" onclick="onLogoutClick">注销</li>
            <li class="separator"></li>
            <li iconCls="icon-remove">退出</li>
        </ul>

    </div>
    <div title="south" region="south" showSplit="false" showHeader="false" height="30">
        <div style="line-height:28px;text-align:center;cursor:default">Copyright © 上海外高桥造船有限公司</div>
    </div>
    <div title="center" region="center" style="border:0;" bodyStyle="overflow:hidden;">
        <!--Splitter-->
        <div class="nui-splitter" style="width:100%;height:100%;" borderStyle="border:0;">
            <div size="180" maxSize="250" minSize="100" showCollapseButton="true" style="border:0;">
                <!--OutlookTree-->
                <div id="leftTree" class="nui-outlooktree" url="/s/user/menus" ajaxOptions='{type:"get"}'
                     onnodeclick="onNodeSelect"
                     textField="name" idField="id" parentField="pid"
                >
                </div>

            </div>
            <div showCollapseButton="false" style="border:0;">
                <!--Tabs-->
                <div id="mainTabs" class="nui-tabs" style="width:100%;height:100%;"
                     plain="false" onactivechanged="onTabsActiveChanged"
                >
                    <div title="首页" url="/page/home">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<ul id="contextMenu" class="nui-contextmenu">
    <li>
        <span>皮肤切换</span>
        <ul>
            {% for item in skins %}

            <li {% if current_skin==item %} iconCls='icon-ok' {% end %} onclick="onSkinChange(this)">{{ item }}</li>
            {% end %}

        </ul>
    </li>
</ul>
<script src="{{ static_url('nui/nui.js') }}"></script>

<script type="text/javascript">
    nui.parse();
    $("body").css('display', 'inline');

    var tree = nui.get("leftTree");


    window.onload = function () {
        //alert('dfds');
        $("#north").bind('contextmenu', function (e) {
            var menu = nui.get("contextMenu");
            menu.showAtPos(e.pageX, e.pageY);
            return false;
        });
    };
    function on_change_role(e) {
        //alert(e.sender.value);
        //$.cookie('role', e.sender.value);
        //document.cookie='role='+ e.sender.value;
        nui.Cookie.set('role', e.sender.value);
        window.location.reload();
    }
    function onSkinChange(node) {
        var skin = node.text;
        nui.Cookie.set('nuiuiSkin', skin);
        //nui.Cookie.set('nuiuiSkin', skin, 100);//100天过期的话，可以保持皮肤切换
        window.location.reload()
    }


    function showTab(node) {
        var tabs = nui.get("mainTabs");

        var id = "tab$" + node.id;
        var tab = tabs.getTab(id);
        if (!tab) {
            tab = {};
            tab._nodeid = node.id;
            tab.name = id;
            tab.title = node.name;
            tab.url = node.url;
            tab.showCloseButton = true;

            //这里拼接了url，实际项目，应该从后台直接获得完整的url地址
            //tab.url = nui_JSPath + "../../docs/api/" + node.id + ".html";

            tabs.addTab(tab);
        }
        tabs.activeTab(tab);
    }
    function goToHome() {
        location.reload();
    }
    function onLogoutClick(e) {
        $.ajax({
            type: 'get',
            url: '/page/logout',
            success: function (e) {
                window.location = "/app"
            }
        })
    }
    function onNodeSelect(e) {
        var node = e.node;
        var isLeaf = e.isLeaf;

        if (isLeaf) {
            showTab(node);
        }
    }

    function onClick(e) {
        var text = this.getText();
        alert(text);
    }
    function onQuickClick(e) {
        tree.expandPath("datagrid");
        tree.selectNode("datagrid");
    }

    function onTabsActiveChanged(e) {
        var tabs = e.sender;
        var tab = tabs.getActiveTab();
        if (tab && tab._nodeid) {

            var node = tree.getNode(tab._nodeid);
            if (node && !tree.isSelectedNode(node)) {
                tree.selectNode(node);
            }
        }
    }
    /**
     * 用户设置按钮点击后弹出用户信息设置窗口
     * */
    function onProfileClick() {
        nui.open({
            url: '/page/userprofile',
            title: '用户信息设置',
            width: 650,
            height: 360,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = nui.clone(data);
                    if (data) {
                        //nui.forEach()
                        for (var i = 0; i < data.length; i++) {
                            gridPerms.addRow(data[i], 0);
                        }
                    }
                }
            }

        })
    }
    function timeout_polling() {
        var url = '/s/sessiontimeout';
        var sid = nui.Cookie.get('msid');
        var channel_name = 'session_time_out_' + sid;

        $.ajax({
            url: url,
            type: 'get',
            data: {"channel_name": channel_name},
            success: function (data) {
                if (data == 1)
                    goToHome();
                else
                    window.setTimeout(timeout_polling, 0);
            },
            error: function (error) {
                //nui.alert('服务器忙，请稍后重试');
                window.setTimeout(timeout_polling, 10);
            }

        })
    }
    timeout_polling();

</script>

</body>
</html>