{% extends "base.html" %}

{% block body %}

<div class="nui-toolbar" style="padding:2px;border-top:0;border-left:0;border-right: 0;">
    <table style="width: 100%">
        <tr>
            <td style="width:100%;">
                {% if has_role('root') %}
                <a class="nui-button" iconCls="icon-add" plain="true" onclick="add_url()">新增</a>
                <a class="nui-button" iconCls="icon-remove" plain="true" onclick="remove_url()">删除</a>
                <a class="nui-button" iconCls="icon-save" plain="true" onclick="save_url()">保存</a>
                <a class="nui-button" iconCls="icon-goto" plain="true" onclick="import_url()">导入</a>
                <a class="nui-button" iconCls="icon-collapse" plain="true" onclick="apply_url()">应用</a>
                {% end %}
            </td>
            <td style="white-space:nowrap;">
                <input id="key" class="nui-textbox" emptyText="请输url或url描述" style="width:150px;"
                       onenter="onKeyEnter"/>
                <a class="nui-button" onclick="search()">查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="nui-fit">

    <div id="url_grid" class="nui-datagrid" borderStyle="border:0"
         allowCellSelect="true"
         allowCellEdit="true"
         allowCellValid="true"
         idField="id"
         multiSelect="false"
         url="/s/urls"
         idField="id"
         pageSize="20"
         editNextOnEnterKey="true"
         ajaxOptions='{type:"get"}'
            {#  oncellbeginedit="OnCellBeginEdit"
         oncellendedit="onCellEndEdit" #}
         onshowrowdetail="on_show_detail"
         style="width:100%;height:100%;">
        <div property="columns">
            <div type="expandcolumn">#</div>
            <div field="url_pattern" width="120" headerAlign="center" allowSort="true">URL
                <input property="editor" required="true" class="nui-textbox" style="width:100%;"/>
            </div>
            <div field="desc" width="120" headerAlign="center" allowSort="true">功能描述
                <input property="editor" required="true" class="nui-textbox" style="width:100%;"/>
            </div>
            {#

            <div field="title"  headerAlign="center"  width="100" allowSort="true">页面标题
                <input property="editor" class="nui-textbox" style="width:100%;"/>
            </div>
            <div field="template"  width="100" headerAlign="center" allowSort="true">模板路径
                <input property="editor" class="nui-textbox" style="width:100%;"/>
            </div>
            #}
            <div header="角色" headerAlign="center">
                <div property="columns">
                    <div field="role_get" name="role_get" displayField="role_get_name" headerAlign="center" width="60">GET
                        <input property="editor" id="lookup2" class="nui-lookup" style="width:100%;" textField="name"
                               valueField="code" popupWidth="auto"
                               popup="#gridPanel" grid="#role_datagrid" multiSelect="true"
                               onshowpopup="onRoleShowPopup"/>
                    </div>
                    <div field="role_post"　name="role_post" displayField="role_post_name" headerAlign="center" width="60">POST
                        <input property="editor" id="lookup2" class="nui-lookup" style="width:100%;" textField="name"
                               valueField="code" popupWidth="auto"
                               popup="#gridPanel" grid="#role_datagrid" multiSelect="true"
                               onshowpopup="onRoleShowPopup"/>
                    </div>
                    <div field="role_put" name="role_put" displayField="role_put_name" headerAlign="center" width="60">PUT

                        <input property="editor" id="lookup2" class="nui-lookup" style="width:100%;" textField="name"
                               valueField="code" popupWidth="auto"
                               popup="#gridPanel" grid="#role_datagrid" multiSelect="true"
                               onshowpopup="onRoleShowPopup"/>
                    </div>
                    <div field="role_delete" name="role_delete" displayField="perm_get_name" headerAlign="center" width="60">DELETE
                        <input property="editor" id="lookup2" class="nui-lookup" style="width:100%;" textField="name"
                               valueField="code" popupWidth="auto"
                               popup="#gridPanel" grid="#role_datagrid" multiSelect="true"
                               onshowpopup="onRoleShowPopup"/>
                    </div>
                </div>
            </div>
            <div header="权限" headerAlign="center">
                <div property="columns">
                    <div field="perm_get" name="perm_get" displayField="perm_get_desc" headerAlign="center" width="60">GET
                        <input property="editor" id="lookup3" class="nui-lookup" style="width:100%;" textField="desc"
                               valueField="name" popupWidth="auto"
                               popup="#gridPanel2" grid="#perm_datagrid" multiSelect="true"
                               onshowpopup="onPermShowPopup"/>
                    </div>
                    <div field="perm_post" headerAlign="center" width="60">POST
                        <input property="editor" id="lookup3" class="nui-lookup" style="width:100%;" textField="desc"
                               valueField="name" popupWidth="auto"
                               popup="#gridPanel2" grid="#perm_datagrid" multiSelect="true"
                               onshowpopup="onPermShowPopup"/>
                    </div>
                    <div field="perm_put" headerAlign="center" width="60">PUT
                        <input property="editor" id="lookup3" class="nui-lookup" style="width:100%;" textField="desc"
                               valueField="name" popupWidth="auto"
                               popup="#gridPanel2" grid="#perm_datagrid" multiSelect="true"
                               onshowpopup="onPermShowPopup"/>
                    </div>
                    <div field="perm_delete" headerAlign="center" width="60">DELETE
                        <input property="editor" id="lookup3" class="nui-lookup" style="width:100%;" textField="desc"
                               valueField="name" popupWidth="auto"
                               popup="#gridPanel2" grid="#perm_datagrid" multiSelect="true"
                               onshowpopup="onPermShowPopup"/>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="edit_form" style="display:none;padding:5px;">
        <input class="nui-hidden" name="_id">
        <table style="width: 100%">
            <tr>
                <td style="width: 80px;">URL模板（可空):</td>
                <td style="width:250px"><input style="width:100%" name="template" class="nui-textbox"></td>
                <td style="width: 80px;">Handler类:</td>
                <td style="width:250px"><input name="handler_class" style="width: 100%"
                                               class="nui-textbox"></td>
                <td style="width: 80px;">页面标题（可空):</td>
                <td style="width:250px"><input name="title" style="width:100%" class="nui-textbox"></td>
            </tr>
            <tr>
                <td style="width: 80px;">文档集合名(cname):</td>
                <td colspan="5"><input name="cname" style="width:100%" class="nui-textbox"></td>
            </tr>

            <tr>
                <td style="width: 80px;">备注:</td>
                <td colspan="5"><textarea name="remark" style="width: 100%;height: 40px;" class="nui-textarea"
                                          emptyText="请输入备注"></textarea></td>
            </tr>
            <tr> {% if has_role('root') %}
                <td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="6">
                    <a class="nui-button" iconCls="icon-ok" onclick="update_row();">保存</a>
                    <a class="nui-button" iconCls="icon-no" onclick="cancel_row();">取消</a>

                </td>
                {% end %}
            </tr>
        </table>
    </div>
    <!--角色选择面板-->
    <div id="gridPanel" class="nui-panel" title="选择角色" iconCls="icon-add" style="width:450px;height:250px;"
         visible="false"
         showToolbar="true" showCloseButton="true" showHeader="true" bodyStyle="padding:0" borderStyle="border:0">
        <div id="role_datagrid" class="nui-datagrid" style="width:100%;height:100%;"
             borderStyle="border:0" showPageSize="false" ajaxOptions='{type:"get"}' showPageIndex="false"
             url='/s/roles?p={"_id":0,"name":1,"code":1}' onrowdblclick="onRoleRowDblclick">
            <div property="columns">
                <div type="checkcolumn">#</div>
                <div field="code" width="120" headerAlign="center" allowSort="true">编码</div>
                <div field="name" width="120" headerAlign="center" allowSort="true">描述</div>
            </div>
        </div>
    </div>
    <!--权限选择面板-->
    <div id="gridPanel2" class="nui-panel" title="选择权限" iconCls="icon-add" style="width:450px;height:250px;"
         visible="false"
         showToolbar="true" showCloseButton="true" showHeader="true" bodyStyle="padding:0" borderStyle="border:0">
        <div id="perm_datagrid" class="nui-datagrid" style="width:100%;height:100%;"
             borderStyle="border:0" showPageSize="false" ajaxOptions='{type:"get"}' showPageIndex="false"
             url='/s/perms?p={"_id":0,"name":1,"desc":1}' onrowdblclick="onPermRowDblclick">
            <div property="columns">
                <div type="checkcolumn">#</div>
                <div field="name" width="120" headerAlign="center" allowSort="true">权限名</div>
                <div field="desc" width="120" headerAlign="center" allowSort="true">权限描述</div>
            </div>
        </div>
    </div>
</div>


{% end %}

{% block script %}

<script type="text/javascript">


    var grid = nui.get('url_grid');
    var role_grid = nui.get('role_datagrid');
    var perm_grid = nui.get('perm_datagrid');





    //role_grid.load();
    grid.load();
    var editForm = document.getElementById("edit_form");
    window.onload = function () {

        {# $("#roleTree").bind("contextmenu", function (e) {
            var menu = nui.get("contextMenu");
            menu.showAtPos(e.pageX, e.pageY);
            return false;
        });#}
    };
    function onKeyEnter(e){
        search();
    }
    function apply_url() {
        $.ajax({
            url: "/s/app/urls",
            data: {'_xsrf': nui.Cookie.get('_xsrf')},
            //contentType:'application/json',
            type: "post",
            success: function (text) {

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }
    function onRoleRowDblclick(e) {
        role_grid.commitEdit();
    }
    function onRoleShowPopup(e) {
        role_grid.load();
    }
    function onPermRowDblclick(e) {
        perm_grid.commitEdit();
    }
    function onPermShowPopup(e) {
        perm_grid.load();
    }
    function cancel_row() {
        grid.reload();
    }

    function update_row() {
        var form = new nui.Form("edit_form");
        var o = form.getData();
        grid.loading("保存中，请稍后......");
        var json = nui.encode(o);
        $.ajax({
            url: "/s/urls",
            type: 'put',
            data: json,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-Xsrftoken', nui.Cookie.get('_xsrf'));
                xhr.setRequestHeader('content-type', 'application/json');
            },
            success: function (text) {
                grid.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                grid.unmask();
                alert(jqXHR.responseText);
            }
        });

    }
    function on_show_detail(e) {
        var row = e.record;
        var td = grid.getRowDetailCellEl(row);
        td.appendChild(editForm);
        editForm.style.display = "";

        // load data
        var form = new nui.Form("edit_form");
        if (grid.isNewRow(row)) {
            form.reset();
        }
        else {
            grid.loading();
            $.ajax({
                url: '/s/urls/' + row.id,
                type: 'get',
                success: function (result) {
                    var o = nui.decode(result);
                    form.setData(o);
                    grid.unmask();
                }
            })
        }

    }
    function import_url() {
        $.ajax({
            url: '/s/app/urls',
            type: 'get',
            success: function (e) {
                result = e.data;
                for (var i = 0; i < e.data.length; i++) {
                    grid.addRow(e.data[i]);
                }
            }
        })
    }
    function onKeyEnter(e) {
        search();
    }
    function search() {
        var key = nui.get('key').getValue();
        //q='{"$or":[{"loginname":{"$regex":"{0}"}},{"name":{"$regex":"{0}"}},{"email":{"$regex":"{0}"}}]}';
        //q=String.format(q,key);
        // monogodb的查询表达式
        q = {
            $or: [
                {
                    url_pattern: {
                        $regex: key
                    }
                },
                {
                    desc: {
                        $regex: key
                    }
                },
                {
                    handler_class: {
                        $regex: key
                    }
                }
            ]
        };


        //alert(q);
        //grid.load({q:'{"$or":{"loginname":}'})
        grid.load({q: nui.encode(q)});
    }
    /**
     * usergrid行选择事件
     */
    grid.on('select', function (e) {
        //alert(e.record['id']);
        //todo 根据用户id查找用户的权限列表填充到gridPerms中
        //var selectUser = grid.getSelected();
    });


    grid.on("beforeload", function (e) {
        if (grid.getChanges().length > 0) {
            if (confirm("有增删改的数据未保存，是否取消本次操作？")) {
                e.cancel = true;
            }
        }
    });
    function add_url() {
        var newRow = {desc: "功能"};
        grid.addRow(newRow, 0);
    }
    function remove_url() {
        var row = grid.getSelected();
        if (row != undefined) {
            grid.removeRow(row, true);
        }
    }
    function save_url() {
        var data = grid.getChanges();
        var json = nui.encode(data);
        var msgid = grid.loading("保存中，请稍后......");
        $.ajax({
            url: "/s/urls",
            data: {data: json, '_xsrf': nui.Cookie.get('_xsrf')},
            //contentType:'application/json',
            type: "post",
            success: function (text) {
                nui.hideMessageBox(msgid);
                grid.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }

    function OnCellBeginEdit(e) {
        var record = e.record;
        var field = e.field;
        //todo
    }
    function onCellEndEdit(e) {
        //todo
    }
</script>
{% end %}