{% extends "base.html" %}
{% block body %}
<div class="nui-fit">
    <div class="nui-datagrid" style="width:100%;height:100%;"
         url="{{ reverse_url('s.users') }}"
         multiSelect="true"
         selectOnLoad="true"
         ajaxOptions='{type:"get"}'
         id="grid1">
        <div property="columns">
            <div type="checkcolumn"></div>
            <div field="loginname" vtype="minLength:6" width="120" headerAlign="center" allowSort="true">员工帐号
                    </div>
                    <div field="name" width="120" headerAlign="center" allowSort="true">员工姓名
                    </div>
                    <div field="email" required="true" vtype="email" width="100" allowSort="true" align="center"
                         headerAlign="center">邮箱
                    </div>
                    <div field="pwd" readOnly="true" width="100" allowSort="true">密码
                    </div>
                    <div type="checkboxcolumn" field="nologin" trueValue="1" falseValue="0" width="60"
                         headerAlign="center">停用
                    </div>
                    <div type="checkboxcolumn" field="superuser" trueValue="1" falseValue="0" width="60"
                         headerAlign="center">超管
                    </div>
        </div>

    </div>
</div>
<div class="nui-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px;" borderStyle="border:0;">
    <a class="nui-button" style="width:60px;" onclick="onOk()">确定</a>
    <span style="display:inline-block;width:25px;"></span>
    <a class="nui-button" style="width:60px;" onclick="onCancel()">取消</a>
</div>

{% end %}
{% block script %}
<script type="text/javascript">
    var grid = nui.get('grid1');
    grid.load();
    function search() {
        grid.load();
    }
    function GetData() {
        var data = grid.getSelecteds();
        return data;
    }
    function CloseWindow(action) {
        if (window.CloseOwnerWindow) {
            return window.CloseOwnerWindow(action);
        }
        else {
            window.close();
        }
    }
    function onOk() {
        CloseWindow("ok");
    }
    function onCancel() {
        CloseWindow("cancel");
    }

</script>
{% end %}