<div ng-controller="TaskNewCtrl">
  <!-- header -->
  <div class="wrapper bg-light lter b-b">
    <div class="btn-group m-r-sm">
      <a href ng-click="save_task()" class="btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Save"><i class="fa fa-file"></i></a>
      <a ui-sref="app.mail.list" class="btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Discard"><i class="fa fa-trash-o"></i></a>
    </div>
  </div>
  <!-- / header -->
  <div class="wrapper">
    <form name="newProject" class="form-horizontal m-t-lg form-validation">

      <div class="form-group">
        <label class="col-lg-2 control-label">任务名:</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" required ng-model="task.name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">时间:</label>
        <div class="col-lg-8">
          <div class="inline-group">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="task.start" is-open="start_opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open_start($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="task.end" is-open="end_opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open_end($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">所属于项目:</label>
        <div class="col-lg-8">
          <select  data-placeholder="选择项目" class="form-control"   ng-model="task.project">

            <option ng-repeat="p in projects" value="{{p.name}}">{{p.name}} <{{p.name}}></option>
          </select>

        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">标签列表:</label>
        <div class="col-lg-8">
          <select ui-jq="chosen" data-placeholder="选择标签 " class="form-control" multiple ng-model="task.labels">
            <option ng-repeat="label in labels" value="{{label.name}}">{{label.name}} <{{label.name}}></option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label">任务描述：</label>
        <div class="col-sm-10">
          <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar" data-target="#editor">
            <div class="btn-group dropdown">
              <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" tooltip="Font"><i class="fa text-base fa-font"></i><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href dropdown-toggle data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li> 
                <li><a href dropdown-toggle data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li>
                <li><a href dropdown-toggle data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li></ul>
            </div>
            <div class="btn-group dropdown">
              <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" tooltip="Font Size"><i class="fa text-base fa-text-height"></i>&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href dropdown-toggle data-edit="fontSize 5" style="font-size:24px">Huge</a></li>
                <li><a href dropdown-toggle data-edit="fontSize 3" style="font-size:18px">Normal</a></li>
                <li><a href dropdown-toggle data-edit="fontSize 1" style="font-size:14px">Small</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <a class="btn btn-sm btn-default" data-edit="bold" tooltip="Bold (Ctrl/Cmd+B)"><i class="fa text-base fa-bold"></i></a>
              <a class="btn btn-sm btn-default" data-edit="italic" tooltip="Italic (Ctrl/Cmd+I)"><i class="fa text-base fa-italic"></i></a>
              <a class="btn btn-sm btn-default" data-edit="strikethrough" tooltip="Strikethrough"><i class="fa text-base fa-strikethrough"></i></a>
              <a class="btn btn-sm btn-default" data-edit="underline" tooltip="Underline (Ctrl/Cmd+U)"><i class="fa text-base fa-underline"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn btn-sm btn-default" data-edit="insertunorderedlist" tooltip="Bullet list"><i class="fa text-base fa-list-ul"></i></a>
              <a class="btn btn-sm btn-default" data-edit="insertorderedlist" tooltip="Number list"><i class="fa text-base fa-list-ol"></i></a>
              <a class="btn btn-sm btn-default" data-edit="outdent" tooltip="Reduce indent (Shift+Tab)"><i class="fa text-base fa-dedent"></i></a>
              <a class="btn btn-sm btn-default" data-edit="indent" tooltip="Indent (Tab)"><i class="fa text-base fa-indent"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn btn-sm btn-default" data-edit="justifyleft" tooltip="Align Left (Ctrl/Cmd+L)"><i class="fa text-base fa-align-left"></i></a>
              <a class="btn btn-sm btn-default" data-edit="justifycenter" tooltip="Center (Ctrl/Cmd+E)"><i class="fa text-base fa-align-center"></i></a>
              <a class="btn btn-sm btn-default" data-edit="justifyright" tooltip="Align Right (Ctrl/Cmd+R)"><i class="fa text-base fa-align-right"></i></a>
              <a class="btn btn-sm btn-default" data-edit="justifyfull" tooltip="Justify (Ctrl/Cmd+J)"><i class="fa text-base fa-align-justify"></i></a>
            </div>
          </div>
          <div ui-jq="wysiwyg" ng-model='task.comment' class="form-control h-auto" style="min-height:200px;">
            Go ahead&hellip;
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-2">
          <button ng-click="save_task()" ng-disabled="newProject.$invalid" class="btn btn-info w-xs">保存</button>
        </div>
      </div>
    </form>
  </div>
</div>