<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<<form action="/mongodb" method="get" role="form">
	<legend>Form Title</legend>

	<div class="form-group">
		<label for=""></label>
		<input type="text" class="form-control" name="a" id="" placeholder="Input...">
	</div>
	<div class="form-group">
		<label for=""></label>
		<input type="text" class="form-control" name="a" id="" placeholder="Input...">
	</div>



	<button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>