{% extends "base.html" %}
{% block body %}
<div style="line-height:100px; padding:10px;height: 100px;background-color:#171812;color:white;" align="center">
    <strong style="font-size: 30px;">{{site_name}}-登录入口</strong>
</div>
<div id="loginWindow" class="nui-window" title="用户登录" style="width:380px;height:220px;"
     showModal="true" showCloseButton="false"
        >

    <div id="loginForm" style="padding:15px;padding-top:10px;">
        <table>
           <!-- {% module xsrf_form_html() %} -->
            <tr>
                <td style="width:80px;text-align: right;" ><label for="username$text">帐号：</label></td>
                <td>
                    <!-- onvalidation="onUserNameValidation" -->
                    <input id="username" name="username"  class="nui-textbox"
                           required="true" style="width:150px;"/>
                </td>
            </tr>
            <tr>
                <td style="width:80px; text-align: right;"><label for="pwd$text">密码：</label></td>
                <td>
                    <input id="pwd" name="pwd" onvalidation="onPwdValidation" class="nui-password"
                           requiredErrorText="密码不能为空" required="true" style="width:150px;" onenter="onLoginClick"/>
                    &nbsp;&nbsp;<a href="#">忘记密码?</a>
                </td>
            </tr>
            <tr>
                <td style="width:80px;text-align: right;"><label>选择角色:</label></td>
                <td><input id="role_combobox" class="nui-combobox" style="width:150px;" textField="name" valueField="code"
    url="/s/login/roles"  showNullItem="true" required="true" allowInput="false"
/>  </td>
            </tr>
            <tr>
                <td></td>
                <td style="padding-top:5px;">
                    <a onclick="onLoginClick" class="mini-button" style="width:60px;">登录</a>
                    <a onclick="onResetClick" class="mini-button" style="width:60px;">重置</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label style="color:red;" id="loginmessage"></label>
                </td>
            </tr>
        </table>
    </div>

</div>
<div align="center" style="line-height:50px; padding:10px;width:100%; position:fixed; left:0; bottom:0; height: 50px;background-color:rgba(26, 23, 47, 0.79);">
<strong>xxxxxxx公司版权所有，备案号</strong>
</div>

{% end %}
{% block script %}
<script type="text/javascript">

    var loginWindow = nui.get("loginWindow");
    loginWindow.show();
   // var username=mini.get('username');
    //username.on('blur',function(e){
       // mini.alert('aaa');
    //});

    function onLoginClick(e) {
        var form = new nui.Form("#loginWindow");

        form.validate();
        if (form.isValid() == false) return;

        var username = nui.get('username').value;
        var pwd = nui.get('pwd').value;
         var role = nui.get("role_combobox");
        loginWindow.hide();
        //mini.loading("正在登录，请稍候...", "登录");
        $.ajax({
            url: "/page/login",
            data: {username: username, pwd: pwd,role:role.getValue(),'_xsrf': nui.Cookie.get('_xsrf')},
            type: "post",
            success: function (result) {
                //mini.hideMessageBox(msgid);
                if (result.status_code == 0) {
                    $('#loginmessage').text("");
                    nui.loading("登录成功，马上转到系统...", "登录成功");
                    setTimeout(function () {
                        window.location = "{{ home_url }}";
                        }, 1500);
                }
                else {
                    //mini.alert(result.data);
                    $('#loginmessage').text(result.data);
                    loginWindow.show();

                }
                //tree.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                loginWindow.show();
                alert(jqXHR.responseText);
            }
        });
    }
    function onResetClick(e) {
        var form = new nui.Form("#loginWindow");
        form.clear();
    }
    /////////////////////////////////////
    function isEmail(s) {
        if (s.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) != -1)
            return true;
        else
            return false;
    }
    function onUserNameValidation(e) {
        if (e.isValid) {
            if (isEmail(e.value) == false) {
                e.errorText = "必须输入邮件地址";
                e.isValid = false;
            }
        }
    }
    function onPwdValidation(e) {
        if (e.isValid) {
            if (e.value.length < 5) {
                e.errorText = "密码不能少于5个字符";
                e.isValid = false;
            }
        }
    }

</script>

{%end%}