{% extends "base.html" %}

{% block body %}
<div class="mini-splitter" style="width:100%;height:100%;">
    <div size="230px" minSize="100px" maxSize="300px" showCollapseButton="true" style="padding:0px;">

        <div id="toolbar1" class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                        <a class="mini-menubutton" iconCls="icon-edit" plain="true" menu="#contextMenu">操作</a>
                        <a class="mini-button" onclick="saveData()" iconCls="icon-save" plain="true">保存</a>
                        <a class="mini-button" onclick="reloadData()" iconCls="icon-reload" plain="true">刷新</a>
                    </td>
                </tr>
            </table>
        </div>
        <!--ajaxOptions='{type:"get"}' -->
        <ul id="tree1" onnodedblclick="onNodeDoubleClick()" url="/s/menus" ajaxOptions='{type:"get"}' class="mini-tree"
            style="width:100%;height:100%;padding:5px;"
            showTreeIcon="true" textField="name" expandOnLoad="0" allowDrag="true" allowDrop="true"
            allowLeafDropIn="true"
            idField="id" parentField="pid" resultAsTree="false">
        </ul>
        <ul id="contextMenu" class="mini-contextmenu">
            <li>
                <span>插入</span>
                <ul>
                    <li iconCls="icon-add" onclick="onAddBefore()">插入节点(前)</li>
                    <li class="separator"></li>
                    <li iconCls="icon-add" onclick="onAddAfter()">插入节点(后)</li>
                    <li class="separator"></li>
                    <li iconCls="icon-add" onclick="onAddNode()">插入节点(子节点)</li>
                    <li class="separator"></li>
                    <li iconCls="icon-add" onclick="onAddRootNode()">添加根节点</li>
                </ul>
            </li>
            <li iconCls="icon-remove" onclick="onRemoveNode()">删除节点</li>
            <li iconCls="icon-edit" onclick="onEditNode()">编辑</li>
            <li class="separator"></li>
            <li iconCls="icon-save" onclick="saveData()">保存</li>
        </ul>
    </div>
    <div showCollapseButton="false" style="padding-left: 5px;">

        <h1>菜单信息</h1>

        <form id="menu_form">
            <table border="0" cellpadding="1" cellspacing="2">
                <tr>
                    <td style="width:60px;">Name：</td>
                    <td style="width:100px">
                        <input name="name" id="name" class="mini-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td>Desc：</td>
                    <td>
                        <input name="desc" id="desc" class="mini-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td>URL：</td>
                    <td>
                        <input name="url" id="url" class="mini-textbox"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


{%end%}
{%block script %}

<script type="text/javascript">

    function onNodeDoubleClick(e) {
        onEditNode(e);
    }

    window.onload = function () {
        $("#tree1").bind("contextmenu", function (e) {
            var menu = mini.get("contextMenu");
            menu.showAtPos(e.pageX, e.pageY);
            return false;
        });
        var tree = mini.get('tree1');
        var db = new mini.DataBinding();
        db.bindForm("menu_form", tree);


    };
    function onAddRootNode(e) {
        var tree = mini.get('tree1');
        var newNode = {name: "root"};
        tree.addNode(newNode)
    }
    function onAddBefore(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();
        var newNode = {};
        tree.addNode(newNode, "before", node);
    }

    function onAddAfter(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        var newNode = {};
        tree.addNode(newNode, "after", node);
    }

    function onAddNode(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        var newNode = {name: 'node'};
        tree.addNode(newNode, "add", node);
    }

    function onEditNode(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        tree.beginEdit(node);
    }

    function onEditNode2(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        mini.open({
            url: "taskPanel/taskPanel.html",
            title: "任务面板", width: 500, height: 300,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.SetData(node);
            }
        })
    }

    function upDateNode(options) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();
        options = mini.clone(options);
        tree.updateNode(node, options)
    }

    function onRemoveNode(e) {

        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        if (node) {
            if (confirm("确定删除选中节点?")) {
                tree.removeNode(node);
            }
        }
    }

    function saveData() {
        var tree = mini.get("tree1");

        var data = tree.getData();
        var removed = tree.getChanges("removed");
        var paramsObj = {
            data: mini.encode(data),
            removed: mini.encode(removed)
        };

        var msgid = mini.loading("数据保存中，请稍后......", "保存数据");


        $.ajax({
            url: "/s/menus",
            data: paramsObj,
            type: "post",
            success: function (text) {
                mini.hideMessageBox(msgid);

                tree.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });

    }

</script>
{%end%}