{% extends "base.html" %}
{% block body %}
<div style="width: 100%">
    <div style="border-bottom:0;padding:0px;" class="mini-toolbar">
        <table style="width:100%">
            <tr>
                <td style="width:100%">
                    <a class="mini-button" iconCls="icon-add" onClick="addNew()" plain="true" tooltip="添加">添加</a>
                    <a class="mini-button" iconCls="icon-close" onClick="deleteRow()" plain="true" tooltip="删除">删除</a>
                    <a class="mini-button" iconCls="icon-save" onClick="saveData()" plain="true" tooltip="保存">保存</a>
                </td>
            </tr>
        </table>

    </div>
</div>
<div class="mini-fit">
    <div id="grid" style="width: 100%;height: 100%;" idField="id" url="/s/resources"
         ajaxOptions='{type:"get"}'
         editNextOnEnterKey="true"
         allowCellSelect="true"
         allowCellEdit="true"
         class="mini-datagrid">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div field="name" headerAlign="center">资源
            <input property="editor" class="mini-textbox" style="width:100%;"/>
            </div>
            <div field="desc" headerAlign="center">资源描述
                <input property="editor" class="mini-textbox" style="width:100%;"/>
            </div>
            <div type="checkboxcolumn" field="read" trueValue="1" falseValue="0" width="60" headerAlign="center">查询</div>
            <div type="checkboxcolumn" field="save" trueValue="1" falseValue="0" width="60" headerAlign="center">保存</div>
        </div>
    </div>
</div>

{% end %}
{% block script %}
<script type="text/javascript">
    //todo
    var grid=mini.get('grid');

    function addNew(e){
        var newRow={"read":1,"save":0};
        grid.addRow(newRow,0);

    }
</script>
{% end %}