{% extends "base.html" %}

{% block body %}
<div class="mini-splitter" style="width:100%;height:100%;">
    <div size="230px" minSize="100px" maxSize="300px" showCollapseButton="true" style="padding:0px;">

        <div id="toolbar1" class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                      <!--  <a class="mini-menubutton" iconCls="icon-edit" plain="true" menu="#contextMenu">操作</a>
                        <a class="mini-button" onclick="saveRoleData()" iconCls="icon-save" plain="true">保存</a> -->
                        <a class="mini-button" onclick="reloadData()" iconCls="icon-reload" plain="true">刷新</a>
                    </td>
                </tr>
            </table>
        </div>
        <!--ajaxOptions='{type:"get"}' -->
        <ul id="tree1" onnodedblclick="onNodeDoubleClick()" url="/s/roles" ajaxOptions='{type:"get"}' class="mini-tree"
            style="width:100%;height:100%;padding:5px;"
            showTreeIcon="true" textField="name" expandOnLoad="0" allowDrag="true" allowDrop="true"
            allowLeafDropIn="true"
            idField="id" parentField="pid" resultAsTree="false">
        </ul>
        <ul id="contextMenu" class="mini-contextmenu">
            <li>
                <span>插入</span>
                <ul>
                    <li iconCls="icon-add" onclick="onAddBefore()">插入节点(前)</li>
                    <li class="separator"></li>
                    <li iconCls="icon-add" onclick="onAddAfter()">插入节点(后)</li>
                    <li class="separator"></li>
                    <li iconCls="icon-add" onclick="onAddNode()">插入节点(子节点)</li>
                    <li class="separator"></li>
                    <li iconCls="icon-add" onclick="onAddRootNode()">添加根节点</li>
                </ul>
            </li>
            <li iconCls="icon-remove" onclick="onRemoveNode()">删除节点</li>
            <li iconCls="icon-edit" onclick="onEditNode()">编辑</li>
            <li class="separator"></li>
            <li iconCls="icon-save" onclick="saveRoleData()">保存</li>
        </ul>
    </div>
    <div showCollapseButton="false" style="padding-left: 5px;">



<div class="mini-fit">
    <div class="mini-toolbar" style="padding:2px;border-top:0;border-left:0;border-right: 0;">
            <a class="mini-button" iconCls="icon-add" plain="true" onclick="addRow()">新增</a>
            <a class="mini-button" iconCls="icon-remove" plain="true" onclick="removeRow()">删除</a>
            <a class="mini-button" iconCls="icon-save" plain="true" onclick="saveUserData()">保存</a>
            <a class="mini-button" iconCls="icon-goto" plain="true" onclick="choice()">从员工中选择</a>
        </div>
            <div id="grid1" class="mini-datagrid" borderStyle="border:0"
                 allowCellSelect="true"
                 allowCellEdit="true"
                 idField="id"
                 multiSelect="true"
                 url="/s/users"
                 idField="id"
                 pageSize="20"
                 editNextOnEnterKey="true"
                 ajaxOptions='{type:"get"}'
                 style="width:100%;height:50%;">
                <div property="columns">
                    <div type="checkcolumn"></div>
                    <div field="loginname" width="120" headerAlign="center" allowSort="true">员工帐号
                        <input property="editor" class="mini-textbox" style="width:100%;"/>
                    </div>
                    <div field="name" width="120" headerAlign="center" allowSort="true">员工姓名
                        <input property="editor" class="mini-textbox" style="width:100%;"/>
                    </div>
                     <div field="email" width="100" allowSort="true"  align="center"
                         headerAlign="center">邮箱
                        <input property="editor" class="mini-textbox" style="width:100%;" />
                    </div>
                    <div field="pwd" width="100" allowSort="true">密码
                        <input property="editor" class="mini-textbox"  style="width:100%;"/>
                    </div>
                    <div type="checkboxcolumn" field="nologin" trueValue="1" falseValue="0" width="60" headerAlign="center">停用</div>
                    <div type="checkboxcolumn" field="superuser" trueValue="1" falseValue="0" width="60" headerAlign="center">超管</div>

                </div>

            </div>
        <div class="mini-toolbar" style="padding:2px;border-top:0;border-left:0;border-right: 0;">
                <a class="mini-button" iconCls="icon-remove" plain="true" onclick="removePermRow()">删除</a>
                <a class="mini-button" iconCls="icon-save" plain="true" onclick="savePermData()">保存</a>
                <a class="mini-button" iconCls="icon-goto" plain="true" onclick="choiceResource()">选择资源</a>
            </div>

            <div id="grid2" class="mini-datagrid" boderStyle="border:0"
                 allowCellSelect="true"
                 allowCellEdit="true"
                 idField="id"
                 url="/s/resources"
                 multiSelect="true"
                 editNextOnEnterKey="true"
                 ajaxOptions='{type:"get"}'
                 style="width: 100%;height: 40%">
                <div property="columns">
                    <div type="checkcolumn"></div>
                    <div field="name">名字
                        <input property="editor" class="mini-textbox" style="width: 100%">
                    </div>
                    <div field="desc">描述
                        <input property="editor" class="mini-textbox" style="width: 100%">
                    </div>
                    <div type="checkboxcolumn" field="read_or_view" trueValue="1" falseValue="0" width="60"
                         headerAlign="center">查询/查看
                    </div>
                    <div type="checkboxcolumn" field="save_or_delete" trueValue="1" falseValue="0" width="60"
                         headerAlign="center">保存
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%end%}
{%block script %}

<script type="text/javascript">

    function onNodeDoubleClick(e) {
        onEditNode(e);
    }
    var tree = mini.get('tree1');
    var grid = mini.get('grid1');

    window.onload = function () {
        /**
        $("#tree1").bind("contextmenu", function (e) {
            var menu = mini.get("contextMenu");
            menu.showAtPos(e.pageX, e.pageY);
            return false;
        });*/


    };
    tree.on('nodeselect', function (e) {
        if (e.isLeaf) {
            //mini.alert(e.node.id);
            grid.load({role_id: e.node.code})
        } else {
            grid.setData([]);
            grid.setTotalCount(0);
        }

    });
    /**
     * 选取员工作为用户
     * @param e
     */
    function choice(e){

        //todo

    }
    function onAddRootNode(e) {
        var tree = mini.get('tree1');
        var newNode = {name: "root"};
        tree.addNode(newNode)
    }
    function onAddBefore(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();
        var newNode = {};
        tree.addNode(newNode, "before", node);
    }

    function onAddAfter(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        var newNode = {};
        tree.addNode(newNode, "after", node);
    }

    function onAddNode(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        var newNode = {name: 'node'};
        tree.addNode(newNode, "add", node);
    }

    function onEditNode(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        tree.beginEdit(node);
    }

    function onEditNode2(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        mini.open({
            url: "taskPanel/taskPanel.html",
            title: "任务面板", width: 500, height: 300,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.SetData(node);
            }
        })
    }

    function upDateNode(options) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();
        options = mini.clone(options);
        tree.updateNode(node, options)
    }

    function onRemoveNode(e) {

        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        if (node) {
            if (confirm("确定删除选中节点?")) {
                tree.removeNode(node);
            }
        }
    }
    function reloadData(e) {
        var tree = mini.get('tree1');
        tree.reload();
    }

    function saveRoleData() {
        var tree = mini.get("tree1");

        var data = tree.getData();
        var removed = tree.getChanges("removed");
        var paramsObj = {
            data: mini.encode(data),
            removed: mini.encode(removed),
            '_xsrf': $.cookie('_xsrf')
        };

        var msgid = mini.loading("数据保存中，请稍后......", "保存数据");


        $.ajax({
            url: "/s/roles",
            data: paramsObj,
            type: "post",
            success: function (text) {
                mini.hideMessageBox(msgid);

                tree.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });

    }
    var Genders = [{id: 1, text: '男'}, {id: 2, text: '女'}];
    function onGenderRenderer(e) {
        for (var i = 0, l = Genders.length; i < l; i++) {
            var g = Genders[i];
            if (g.id == e.value) return g.text;
        }
        return "";
    }
    grid.on("beforeload", function (e) {
        if (grid.getChanges().length > 0) {
            if (confirm("有增删改的数据未保存，是否取消本次操作？")) {
                e.cancel = true;
            }
        }
    });
    function addRow() {
        var node = tree.getSelectedNode();
        if (node) {
            var newRow = {name: "New Row"};
            newRow.role_id = node.code;
            grid.addRow(newRow, 0);
        }
    }
    function removeRow() {
        var rows = grid.getSelecteds();
        if (rows.length > 0) {
            grid.removeRows(rows, true);
        }
    }
    function saveUserData() {
        var data = grid.getChanges();
        var json = mini.encode(data);
        var msgid = grid.loading("保存中，请稍后......");
        $.ajax({
            url: "/s/users",
            data: {data: json, '_xsrf': $.cookie('_xsrf')},
            //contentType:'application/json',
            type: "post",
            success: function (text) {
                mini.hideMessageBox(msgid);
                grid.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }

</script>
{%end%}