{% extends 'base.html' %}
{% block body %}
<fieldset>
    <legend>用户信息</legend>
    <table border="0" cellpadding="1" cellspacing="2" style="width:100%;table-layout:fixed;">
        <tr>
            <td style="width:60px;">姓名：</td>
            <td style="width:50%">
                <input name="name" class="mini-textbox" style="width:100%;"/>
            </td>
            <td style="width:60px;">地址：</td>
            <td style="width:50%">
                <input name="addr" class="mini-textbox" style="width:100%;"/>
            </td>
        </tr>
        <tr>
            <td>性别：</td>
            <td>
                <input name="gender" class="mini-radiobuttonlist" data="[{id: 1, text: '男'}, {id: 2, text: '女'}]"/>
            </td>
            <td>年龄：</td>
            <td>
                <input name="age" class="mini-spinner" style="width:100%;"/>
            </td>
        </tr>
        <tr>
            <td>备注：</td>
            <td colspan="3">
                <input name="remarks" class="mini-textarea" style="width:100%;height:60px;"/>
            </td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <legend>密码修改</legend>
    <table border="0" cellpadding="1" cellspacing="2">
        <tr>
            <td style="width:80px;">旧密码：</td>
            <td style="width:100px">
                <input name="name" class="mini-textbox"/>
            </td>
        </tr>
        <tr>
            <td>新密码：</td>
            <td>
                <input name="pwd" class="mini-password"/>
            </td>
        </tr>
        <tr>
            <td>重复新密码：</td>
            <td>
                <input name="birthday" class="mini-password"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <a class="mini-button mini-button-iconRight" iconCls="icon-edit" onclick="onClick">确认修改</a>
            </td>
        </tr>
    </table>
</fieldset>
{% end %}